body {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  background-color: #A1AAD0;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

h1, p {
  margin: 0;
}

.box-dark {
  padding: 25px;
  background-color: #364D87;
  color: #FFFFFF;
}

.box-light {
  padding: 25px;
  background-color: #A1AAD0;
  color: #121A2E;
}

.box-light p {
  padding: 15px 0px;
}

.stressed-text {
  font-weight: bold;
}

#site-header {
  display: flex;
  align-items: center;
  font-weight: bold;
}  

#header-intro {
  margin-left: 100px;
}

#header-links {
  flex: 1;
  text-align: right;
}

#header-links ul li {
  display: inline-block;
  padding: 5px 15px;
  list-style: none;
}

#header-links ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

#header-links ul li a:after {
  content: '';
  display: block;
  margin: auto;
  width: 0;
  height: 2px;
  background: #d4a7aa;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(.28,.11,0,1)
}

#header-links ul li a:hover::after {
  width: 100%;
}

#about {
  padding: 100px 100px;
}

#about-passage {
      margin-right: 35%;
}

#contacts-list {
  list-style: none;
}

@media(max-width: 800px) {
  #site-header {
      display: block;
  }

  #header-links {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      background-color: #886318;
  }
  #header-links ul {
      padding: 0;
  }
  
  #about-passage {
      margin-right: 0;
  }
}
