body {
  margin: 0px 0px 0px 0px;
  
  color: #ffffff;
  background-color: #0e0f14;
  
  font-family: sans-serif;
}

header {
  padding: 10px 10px 10px 10px;
  
  color: #000000;
  background-color: #ffffff;
  
  font-weight: bold;
}
