* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: #2D3142;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}
.container {
  padding: 1%;
}

@media(max-width: /**/700px) {
  .header {
    font-size: 12px;
  }
  .header-links {
    font-size: 10px;
  }
}
.header {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 2%;
}
.header-links {
  flex: 1;
  text-align: right;
}
.header-links ul li {
  position: relative;
  display: inline-block;
  padding: 1% 2%;
  list-style: none;
}
.header-links ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
.header-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.header-links ul li:hover::after {
  width: 100%;
}

.about {
  margin: 1%;
  padding: 3%;
  background-color: #848FA2;
  color: #0A0B0F;
  font-weight: bold;
}

.contacts {
  margin: 1%;
  padding: 3%;
  font-weight: bold;
}
.contacts ul {
  list-style: none;
}

.footer {
  padding: 2%;
  font-size: 12px;
  font-weight: bold;
}
